<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.GarageConnectionString" connectionString="Data Source=DESKTOP-G243QOS\RADIUM;Initial Catalog=Garage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.QuanLyGarageConnectionString"
            connectionString="Data Source=MAHLAP\MAHLAP;Initial Catalog=QuanLyGarage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>